<h1>0001</h1>
<font color='#000066'><b></b></font><br>
<p />
<img width='125' src='010001.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010001.bin.png>010001.bin.png</a></font><p />
<hr>
<font color='#000066'><b>'</b></font><br>
<p />
<img width='275' src='010002.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010002.bin.png>010002.bin.png</a></font><p />
<hr>
<font color='#000066'><b>HM</b></font><br>
<p />
<img width='122' src='010003.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010003.bin.png>010003.bin.png</a></font><p />
<hr>
<font color='#000066'><b>M</b></font><br>
<p />
<img width='183' src='010004.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010004.bin.png>010004.bin.png</a></font><p />
<hr>
<font color='#000066'><b>U</b></font><br>
<p />
<img width='272' src='010005.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010005.bin.png>010005.bin.png</a></font><p />
<hr>
<font color='#000066'><b>702 beta 246.000.012</b></font><br>
<p />
<img width='793' src='010006.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010006.bin.png>010006.bin.png</a></font><p />
<hr>
<font color='#000066'><b>0A A</b></font><br>
<p />
<img width='133' src='010007.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010007.bin.png>010007.bin.png</a></font><p />
<hr>
<font color='#000066'><b></b></font><br>
<p />
<img width='277' src='010008.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010008.bin.png>010008.bin.png</a></font><p />
<hr>
<font color='#000066'><b>MMM</b></font><br>
<p />
<img width='399' src='010009.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010009.bin.png>010009.bin.png</a></font><p />
<hr>
<font color='#000066'><b>SSSsSSSSSSS</b></font><br>
<p />
<img width='253' src='01000a.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000a.bin.png>01000a.bin.png</a></font><p />
<hr>
<font color='#000066'><b>T</b></font><br>
<p />
<img width='186' src='01000b.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000b.bin.png>01000b.bin.png</a></font><p />
<hr>
<font color='#000066'><b>R0</b></font><br>
<p />
<img width='234' src='01000c.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000c.bin.png>01000c.bin.png</a></font><p />
<hr>
<font color='#000066'><b>R</b></font><br>
<p />
<img width='186' src='01000d.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000d.bin.png>01000d.bin.png</a></font><p />
<hr>
<font color='#000066'><b>EEMOOCoX'2, C M</b></font><br>
<p />
<img width='712' src='01000e.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000e.bin.png>01000e.bin.png</a></font><p />
<hr>
<font color='#000066'><b>MODEL 648DX1D1NAWA3WK1M5</b></font><br>
<p />
<img width='708' src='01000f.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000f.bin.png>01000f.bin.png</a></font><p />
<hr>
<font color='#000066'><b>SERIAL NO. 0306482</b></font><br>
<p />
<img width='493' src='010010.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010010.bin.png>010010.bin.png</a></font><p />
<hr>
<font color='#000066'><b>I00</b></font><br>
<p />
<img width='355' src='010011.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010011.bin.png>010011.bin.png</a></font><p />
<hr>
<font color='#000066'><b>04/12</b></font><br>
<p />
<img width='126' src='010012.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010012.bin.png>010012.bin.png</a></font><p />
<hr>
<font color='#000066'><b>SENSOR TYPE PT100/4WIRE 648-DEV0</b></font><br>
<p />
<img width='978' src='010013.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010013.bin.png>010013.bin.png</a></font><p />
<hr>
<font color='#000066'><b>P</b></font><br>
<p />
<img width='224' src='010014.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010014.bin.png>010014.bin.png</a></font><p />
<hr>
<font color='#000066'><b>6X</b></font><br>
<p />
<img width='265' src='010015.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010015.bin.png>010015.bin.png</a></font><p />
<hr>
<font color='#000066'><b>T0W7</b></font><br>
<p />
<img width='186' src='010016.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010016.bin.png>010016.bin.png</a></font><p />
<hr>
<font color='#000066'><b>RANGE -200 TO 850 DEG C</b></font><br>
<p />
<img width='703' src='010017.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010017.bin.png>010017.bin.png</a></font><p />
<hr>
<font color='#000066'><b>FCC ID:LW2RM2510 / IC ID 2731A-RM251O IS CONTAINED WITHIN. 2.4GHz.</b></font><br>
<p />
<img width='1443' src='010018.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010018.bin.png>010018.bin.png</a></font><p />
<hr>
<font color='#000066'><b>FOR USE WITH ROSEMOUNT SMARTPOWER OPTIONS P/N 753-9220-XXX ONLY.</b></font><br>
<p />
<img width='1537' src='010019.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010019.bin.png>010019.bin.png</a></font><p />
<hr>
<font color='#000066'><b>WirelessHART TM</b></font><br>
<p />
<img width='298' src='01001a.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001a.bin.png>01001a.bin.png</a></font><p />
<hr>
<font color='#000066'><b>ROSEMOUNT R</b></font><br>
<p />
<img width='1000' src='01001b.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001b.bin.png>01001b.bin.png</a></font><p />
<hr>
<font color='#000066'><b>/A</b></font><br>
<p />
<img width='223' src='01001c.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001c.bin.png>01001c.bin.png</a></font><p />
<hr>
<font color='#000066'><b>N</b></font><br>
<p />
<img width='93' src='01001d.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001d.bin.png>01001d.bin.png</a></font><p />
<hr>
<font color='#000066'><b>RE</b></font><br>
<p />
<img width='215' src='01001e.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001e.bin.png>01001e.bin.png</a></font><p />
<hr>
<font color='#000066'><b>APPROED</b></font><br>
<p />
<img width='176' src='01001f.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001f.bin.png>01001f.bin.png</a></font><p />
<hr>
<font color='#000066'><b>E.NCLOSURE TYPE 4XT</b></font><br>
<p />
<img width='501' src='010020.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010020.bin.png>010020.bin.png</a></font><p />
<hr>
<font color='#000066'><b>753-6014-1000/AE CHANHASSEN, MINNESOTA, USA</b></font><br>
<p />
<img width='995' src='010021.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010021.bin.png>010021.bin.png</a></font><p />
<hr>
<font color='#000066'><b>IP66/67</b></font><br>
<p />
<img width='247' src='010022.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010022.bin.png>010022.bin.png</a></font><p />
<hr>
<font color='#000066'><b>2</b></font><br>
<p />
<img width='167' src='010023.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010023.bin.png>010023.bin.png</a></font><p />
<hr>
<font color='#000066'><b></b></font><br>
<p />
<img width='155' src='010024.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010024.bin.png>010024.bin.png</a></font><p />
<hr>
