<h1>0001</h1>
<font color='#000066'><b>iCO</b></font><br>
<p />
<img width='236' src='010001.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010001.bin.png>010001.bin.png</a></font><p />
<hr>
<font color='#000066'><b>702 beta 246.000.012</b></font><br>
<p />
<img width='523' src='010002.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010002.bin.png>010002.bin.png</a></font><p />
<hr>
<font color='#000066'><b>- TM</b></font><br>
<p />
<img width='333' src='010003.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010003.bin.png>010003.bin.png</a></font><p />
<hr>
<font color='#000066'><b>A</b></font><br>
<p />
<img width='96' src='010004.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010004.bin.png>010004.bin.png</a></font><p />
<hr>
<font color='#000066'><b>MMSSSM</b></font><br>
<p />
<img width='238' src='010005.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010005.bin.png>010005.bin.png</a></font><p />
<hr>
<font color='#000066'><b>-N R --SSS LSMMM</b></font><br>
<p />
<img width='368' src='010006.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010006.bin.png>010006.bin.png</a></font><p />
<hr>
<font color='#000066'><b>MODEL 648DX1D1NAWA3WK1M5</b></font><br>
<p />
<img width='821' src='010007.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010007.bin.png>010007.bin.png</a></font><p />
<hr>
<font color='#000066'><b>SERIAL No. 0306488</b></font><br>
<p />
<img width='436' src='010008.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010008.bin.png>010008.bin.png</a></font><p />
<hr>
<font color='#000066'><b>04/12</b></font><br>
<p />
<img width='130' src='010009.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010009.bin.png>010009.bin.png</a></font><p />
<hr>
<font color='#000066'><b>S</b></font><br>
<p />
<img width='285' src='01000a.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000a.bin.png>01000a.bin.png</a></font><p />
<hr>
<font color='#000066'><b>SENSOR TYPE PT100/4WIRE 648-DEV6</b></font><br>
<p />
<img width='877' src='01000b.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000b.bin.png>01000b.bin.png</a></font><p />
<hr>
<font color='#000066'><b>RANGE -200 TO 850 DEG c</b></font><br>
<p />
<img width='619' src='01000c.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000c.bin.png>01000c.bin.png</a></font><p />
<hr>
<font color='#000066'><b></b></font><br>
<p />
<img width='95' src='01000d.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000d.bin.png>01000d.bin.png</a></font><p />
<hr>
<font color='#000066'><b>FCC ID:LW2RM2510 / IC ID 2731A-RM251O IS CONTAINED WITHIN. 2.4 GHz.</b></font><br>
<p />
<img width='1410' src='01000e.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000e.bin.png>01000e.bin.png</a></font><p />
<hr>
<font color='#000066'><b>FOR USE WITH ROSEMOUNT SMARTPOWER OPTIONS P/N 753-9220-XXXX ONLY.</b></font><br>
<p />
<img width='1333' src='01000f.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000f.bin.png>01000f.bin.png</a></font><p />
<hr>
<font color='#000066'><b>WirelessHART T</b></font><br>
<p />
<img width='415' src='010010.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010010.bin.png>010010.bin.png</a></font><p />
<hr>
<font color='#000066'><b>ROSEUNT</b></font><br>
<p />
<img width='938' src='010011.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010011.bin.png>010011.bin.png</a></font><p />
<hr>
<font color='#000066'><b>C</b></font><br>
<p />
<img width='304' src='010012.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010012.bin.png>010012.bin.png</a></font><p />
<hr>
<font color='#000066'><b>RWTv</b></font><br>
<p />
<img width='182' src='010013.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010013.bin.png>010013.bin.png</a></font><p />
<hr>
<font color='#000066'><b>APPROED</b></font><br>
<p />
<img width='290' src='010014.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010014.bin.png>010014.bin.png</a></font><p />
<hr>
<font color='#000066'><b>ROSMEMOUNT ENCLOSURE TYPE 4X</b></font><br>
<p />
<img width='895' src='010015.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010015.bin.png>010015.bin.png</a></font><p />
<hr>
<font color='#000066'><b>753-6014-1000/AE CHANHASSEN, MINNESOTA, USA IP66/67</b></font><br>
<p />
<img width='1143' src='010016.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010016.bin.png>010016.bin.png</a></font><p />
<hr>
<font color='#000066'><b>2'</b></font><br>
<p />
<img width='160' src='010017.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010017.bin.png>010017.bin.png</a></font><p />
<hr>
<font color='#000066'><b></b></font><br>
<p />
<img width='87' src='010018.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010018.bin.png>010018.bin.png</a></font><p />
<hr>
<font color='#000066'><b></b></font><br>
<p />
<img width='52' src='010019.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010019.bin.png>010019.bin.png</a></font><p />
<hr>
<font color='#000066'><b>E5</b></font><br>
<p />
<img width='67' src='01001a.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001a.bin.png>01001a.bin.png</a></font><p />
<hr>
