<table border=1><tr>
<td><a href='0001/index.html'><img src='.__0001.png'></a><br>0001<br></td>
<td>702 beta 246.000.012<br>
MODEL 648DX1D1NAWA3WK1M5<br>
SENSOR TYPE PT100/4WIRE 648-DEV0<br>
RANGE -200 TO 850 DEG c<br>
FCC ID:LW2RM2510 / IC ID 2731A-RM251O IS CONTAINED WITHIN. 2. GHz.<br>
FSOR USE WITH ROSEMOUNT SMARTPOWER OPTIONS PN 753-9220-XXX ONLY.<br>
753-6014-1000/AE CHANHASSEN, MINNESOTA, USA<br>
</td>
</tr></table>
