<h1>0001</h1>
<font color='#000066'><b>702 beta 246.000.012</b></font><br>
<p />
<img width='607' src='010001.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010001.bin.png>010001.bin.png</a></font><p />
<hr>
<font color='#000066'><b>-OSMM 6-6</b></font><br>
<p />
<img width='716' src='010002.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010002.bin.png>010002.bin.png</a></font><p />
<hr>
<font color='#000066'><b>2 NMOSSO2 '2R-OPMM RT</b></font><br>
<p />
<img width='310' src='010003.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010003.bin.png>010003.bin.png</a></font><p />
<hr>
<font color='#000066'><b>MODEL 648DX1D1NAWA3WK1M5</b></font><br>
<p />
<img width='746' src='010004.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010004.bin.png>010004.bin.png</a></font><p />
<hr>
<font color='#000066'><b>SENSOR TYPE PT100/4WIRE 648-DEV0</b></font><br>
<p />
<img width='1114' src='010005.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010005.bin.png>010005.bin.png</a></font><p />
<hr>
<font color='#000066'><b>SERIAL NO. 0306482</b></font><br>
<p />
<img width='474' src='010006.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010006.bin.png>010006.bin.png</a></font><p />
<hr>
<font color='#000066'><b>04/12</b></font><br>
<p />
<img width='128' src='010007.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010007.bin.png>010007.bin.png</a></font><p />
<hr>
<font color='#000066'><b>M</b></font><br>
<p />
<img width='106' src='010008.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010008.bin.png>010008.bin.png</a></font><p />
<hr>
<font color='#000066'><b>S</b></font><br>
<p />
<img width='183' src='010009.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010009.bin.png>010009.bin.png</a></font><p />
<hr>
<font color='#000066'><b>E</b></font><br>
<p />
<img width='195' src='01000a.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000a.bin.png>01000a.bin.png</a></font><p />
<hr>
<font color='#000066'><b>RANGE -200 TO 850 DEG C</b></font><br>
<p />
<img width='639' src='01000b.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000b.bin.png>01000b.bin.png</a></font><p />
<hr>
<font color='#000066'><b>FCC ID:LW2RM2510 / IC ID 2731A-RM251O IS CONTAINED AWITHIN. 2.4 GHz.</b></font><br>
<p />
<img width='1416' src='01000c.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000c.bin.png>01000c.bin.png</a></font><p />
<hr>
<font color='#000066'><b>FOR USE WITH ROSEMOUNT SMARTPOWER OPTIONS P/N 753-9220-XXXX ONLY.</b></font><br>
<p />
<img width='1566' src='01000d.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000d.bin.png>01000d.bin.png</a></font><p />
<hr>
<font color='#000066'><b>relessHART TM</b></font><br>
<p />
<img width='386' src='01000e.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000e.bin.png>01000e.bin.png</a></font><p />
<hr>
<font color='#000066'><b>ROSEMOONT</b></font><br>
<p />
<img width='936' src='01000f.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000f.bin.png>01000f.bin.png</a></font><p />
<hr>
<font color='#000066'><b>OD</b></font><br>
<p />
<img width='244' src='010010.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010010.bin.png>010010.bin.png</a></font><p />
<hr>
<font color='#000066'><b>T</b></font><br>
<p />
<img width='93' src='010011.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010011.bin.png>010011.bin.png</a></font><p />
<hr>
<font color='#000066'><b>RSMOUNT R'</b></font><br>
<p />
<img width='420' src='010012.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010012.bin.png>010012.bin.png</a></font><p />
<hr>
<font color='#000066'><b>ROE</b></font><br>
<p />
<img width='270' src='010013.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010013.bin.png>010013.bin.png</a></font><p />
<hr>
<font color='#000066'><b>ENCLOSURE TYPE 4X</b></font><br>
<p />
<img width='471' src='010014.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010014.bin.png>010014.bin.png</a></font><p />
<hr>
<font color='#000066'><b>736014-1000/AE CHANHASSEN, MINNESOTA, USA</b></font><br>
<p />
<img width='1028' src='010015.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010015.bin.png>010015.bin.png</a></font><p />
<hr>
<font color='#000066'><b>IP66/67</b></font><br>
<p />
<img width='299' src='010016.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010016.bin.png>010016.bin.png</a></font><p />
<hr>
<font color='#000066'><b>3U</b></font><br>
<p />
<img width='63' src='010017.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010017.bin.png>010017.bin.png</a></font><p />
<hr>
