<h1>0001</h1>
<font color='#000066'><b></b></font><br>
<p />
<img width='214' src='010001.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010001.bin.png>010001.bin.png</a></font><p />
<hr>
<font color='#000066'><b>702 beta 246.000.012</b></font><br>
<p />
<img width='536' src='010002.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010002.bin.png>010002.bin.png</a></font><p />
<hr>
<font color='#000066'><b>-</b></font><br>
<p />
<img width='214' src='010003.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010003.bin.png>010003.bin.png</a></font><p />
<hr>
<font color='#000066'><b>SRMMMSC OMM</b></font><br>
<p />
<img width='252' src='010004.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010004.bin.png>010004.bin.png</a></font><p />
<hr>
<font color='#000066'><b>MODEL 648DX1D1NAWA3WK1M5</b></font><br>
<p />
<img width='768' src='010005.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010005.bin.png>010005.bin.png</a></font><p />
<hr>
<font color='#000066'><b></b></font><br>
<p />
<img width='186' src='010006.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010006.bin.png>010006.bin.png</a></font><p />
<hr>
<font color='#000066'><b>I</b></font><br>
<p />
<img width='51' src='010007.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010007.bin.png>010007.bin.png</a></font><p />
<hr>
<font color='#000066'><b></b></font><br>
<p />
<img width='284' src='010008.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010008.bin.png>010008.bin.png</a></font><p />
<hr>
<font color='#000066'><b>O</b></font><br>
<p />
<img width='160' src='010009.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010009.bin.png>010009.bin.png</a></font><p />
<hr>
<font color='#000066'><b>SERIAL NO. 0306482</b></font><br>
<p />
<img width='473' src='01000a.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000a.bin.png>01000a.bin.png</a></font><p />
<hr>
<font color='#000066'><b>04/12</b></font><br>
<p />
<img width='222' src='01000b.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000b.bin.png>01000b.bin.png</a></font><p />
<hr>
<font color='#000066'><b>R</b></font><br>
<p />
<img width='89' src='01000c.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000c.bin.png>01000c.bin.png</a></font><p />
<hr>
<font color='#000066'><b>SENSOR TYPE PT100/4WIRE 648-DEV0</b></font><br>
<p />
<img width='879' src='01000d.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000d.bin.png>01000d.bin.png</a></font><p />
<hr>
<font color='#000066'><b>M</b></font><br>
<p />
<img width='121' src='01000e.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000e.bin.png>01000e.bin.png</a></font><p />
<hr>
<font color='#000066'><b>MMMMO.,</b></font><br>
<p />
<img width='231' src='01000f.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000f.bin.png>01000f.bin.png</a></font><p />
<hr>
<font color='#000066'><b>AE</b></font><br>
<p />
<img width='307' src='010010.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010010.bin.png>010010.bin.png</a></font><p />
<hr>
<font color='#000066'><b>PNv</b></font><br>
<p />
<img width='176' src='010011.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010011.bin.png>010011.bin.png</a></font><p />
<hr>
<font color='#000066'><b>RANGE -200 TO 850 DEG c</b></font><br>
<p />
<img width='639' src='010012.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010012.bin.png>010012.bin.png</a></font><p />
<hr>
<font color='#000066'><b>FCC ID:LW2RM2510 / IC ID 2731A-RM251O IS CONTAINED WITHIN. 2. GHz.</b></font><br>
<p />
<img width='1265' src='010013.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010013.bin.png>010013.bin.png</a></font><p />
<hr>
<font color='#000066'><b>FSOR USE WITH ROSEMOUNT SMARTPOWER OPTIONS PN 753-9220-XXX ONLY.</b></font><br>
<p />
<img width='1334' src='010014.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010014.bin.png>010014.bin.png</a></font><p />
<hr>
<font color='#000066'><b>WirelessHART TM</b></font><br>
<p />
<img width='418' src='010015.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010015.bin.png>010015.bin.png</a></font><p />
<hr>
<font color='#000066'><b>RE0SUEMT</b></font><br>
<p />
<img width='967' src='010016.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010016.bin.png>010016.bin.png</a></font><p />
<hr>
<font color='#000066'><b>ROSEMOUNT</b></font><br>
<p />
<img width='481' src='010017.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010017.bin.png>010017.bin.png</a></font><p />
<hr>
<font color='#000066'><b></b></font><br>
<p />
<img width='260' src='010018.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010018.bin.png>010018.bin.png</a></font><p />
<hr>
<font color='#000066'><b>X</b></font><br>
<p />
<img width='199' src='010019.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010019.bin.png>010019.bin.png</a></font><p />
<hr>
<font color='#000066'><b>753-6014-1000/AE CHANHASSEN, MINNESOTA, USA</b></font><br>
<p />
<img width='902' src='01001a.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001a.bin.png>01001a.bin.png</a></font><p />
<hr>
<font color='#000066'><b>MMMX,</b></font><br>
<p />
<img width='77' src='01001b.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001b.bin.png>01001b.bin.png</a></font><p />
<hr>
<font color='#000066'><b></b></font><br>
<p />
<img width='50' src='01001c.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001c.bin.png>01001c.bin.png</a></font><p />
<hr>
<font color='#000066'><b></b></font><br>
<p />
<img width='179' src='01001d.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001d.bin.png>01001d.bin.png</a></font><p />
<hr>
<font color='#000066'><b></b></font><br>
<p />
<img width='51' src='01001e.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001e.bin.png>01001e.bin.png</a></font><p />
<hr>
<font color='#000066'><b>5-</b></font><br>
<p />
<img width='192' src='01001f.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001f.bin.png>01001f.bin.png</a></font><p />
<hr>
<font color='#000066'><b>3N5</b></font><br>
<p />
<img width='116' src='010020.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010020.bin.png>010020.bin.png</a></font><p />
<hr>
<font color='#000066'><b>0</b></font><br>
<p />
<img width='89' src='010021.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010021.bin.png>010021.bin.png</a></font><p />
<hr>
