<table border=1><tr>
<td><a href='0001/index.html'><img src='.__0001.png'></a><br>0001<br></td>
<td>702 beta 246.000.012<br>
MMODEL 648DX1D1NAWA3WK1M5<br>
SENSOR TYPE PT100/4WIRE<br>
RANGE -200 T0 850 DEG C<br>
FCC ID:LW2RM2510 / IC ID 2731A-RM251O I CONTAINEDWITHI.<br>
FOR USE WITH ROSEMOUNT SMARTPOWER OPTIONS P/N 753-9220 XXX ONL.<br>
753-6014-1000/AE CHANHASSEN, INNT UA<br>
</td>
</tr></table>
