<h1>0001</h1>
<font color='#000066'><b>-O</b></font><br>
<p />
<img width='162' src='010001.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010001.bin.png>010001.bin.png</a></font><p />
<hr>
<font color='#000066'><b>.H</b></font><br>
<p />
<img width='282' src='010002.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010002.bin.png>010002.bin.png</a></font><p />
<hr>
<font color='#000066'><b>I</b></font><br>
<p />
<img width='106' src='010003.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010003.bin.png>010003.bin.png</a></font><p />
<hr>
<font color='#000066'><b></b></font><br>
<p />
<img width='48' src='010004.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010004.bin.png>010004.bin.png</a></font><p />
<hr>
<font color='#000066'><b></b></font><br>
<p />
<img width='173' src='010005.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010005.bin.png>010005.bin.png</a></font><p />
<hr>
<font color='#000066'><b>TTO.</b></font><br>
<p />
<img width='124' src='010006.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010006.bin.png>010006.bin.png</a></font><p />
<hr>
<font color='#000066'><b>70 beta 246.000.012</b></font><br>
<p />
<img width='478' src='010007.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010007.bin.png>010007.bin.png</a></font><p />
<hr>
<font color='#000066'><b>R 4SSSSRRR.NPP..T</b></font><br>
<p />
<img width='388' src='010008.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010008.bin.png>010008.bin.png</a></font><p />
<hr>
<font color='#000066'><b>MODEL 648DX1D1NAWA3WK1M5</b></font><br>
<p />
<img width='534' src='010009.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010009.bin.png>010009.bin.png</a></font><p />
<hr>
<font color='#000066'><b>SERIAL N0. 0306482</b></font><br>
<p />
<img width='419' src='01000a.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000a.bin.png>01000a.bin.png</a></font><p />
<hr>
<font color='#000066'><b>04/12</b></font><br>
<p />
<img width='103' src='01000b.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000b.bin.png>01000b.bin.png</a></font><p />
<hr>
<font color='#000066'><b>SENSOR TYPE PT100/4WIRE 648-DEV0</b></font><br>
<p />
<img width='805' src='01000c.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000c.bin.png>01000c.bin.png</a></font><p />
<hr>
<font color='#000066'><b>RANGE -200 T0 850 DEG C</b></font><br>
<p />
<img width='463' src='01000d.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000d.bin.png>01000d.bin.png</a></font><p />
<hr>
<font color='#000066'><b>R</b></font><br>
<p />
<img width='121' src='01000e.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000e.bin.png>01000e.bin.png</a></font><p />
<hr>
<font color='#000066'><b>-EH</b></font><br>
<p />
<img width='234' src='01000f.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01000f.bin.png>01000f.bin.png</a></font><p />
<hr>
<font color='#000066'><b>-T</b></font><br>
<p />
<img width='75' src='010010.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010010.bin.png>010010.bin.png</a></font><p />
<hr>
<font color='#000066'><b>LMN</b></font><br>
<p />
<img width='287' src='010011.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010011.bin.png>010011.bin.png</a></font><p />
<hr>
<font color='#000066'><b></b></font><br>
<p />
<img width='76' src='010012.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010012.bin.png>010012.bin.png</a></font><p />
<hr>
<font color='#000066'><b>I</b></font><br>
<p />
<img width='135' src='010013.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010013.bin.png>010013.bin.png</a></font><p />
<hr>
<font color='#000066'><b></b></font><br>
<p />
<img width='172' src='010014.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010014.bin.png>010014.bin.png</a></font><p />
<hr>
<font color='#000066'><b></b></font><br>
<p />
<img width='86' src='010015.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010015.bin.png>010015.bin.png</a></font><p />
<hr>
<font color='#000066'><b>FCC ID:LW2RM2510/ IC ID 2731A-RM251O IS CONTAINED WITHIN.</b></font><br>
<p />
<img width='881' src='010016.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010016.bin.png>010016.bin.png</a></font><p />
<hr>
<font color='#000066'><b>2.4 GH</b></font><br>
<p />
<img width='120' src='010017.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010017.bin.png>010017.bin.png</a></font><p />
<hr>
<font color='#000066'><b>FOR USE WITH ROSEMOUNT SMARTPOWER OPTIONS P/N 753-220-XXX ONLY</b></font><br>
<p />
<img width='1143' src='010018.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010018.bin.png>010018.bin.png</a></font><p />
<hr>
<font color='#000066'><b>WirelessHART T</b></font><br>
<p />
<img width='358' src='010019.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010019.bin.png>010019.bin.png</a></font><p />
<hr>
<font color='#000066'><b>AMPWP,</b></font><br>
<p />
<img width='314' src='01001a.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001a.bin.png>01001a.bin.png</a></font><p />
<hr>
<font color='#000066'><b>IM I N</b></font><br>
<p />
<img width='160' src='01001b.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001b.bin.png>01001b.bin.png</a></font><p />
<hr>
<font color='#000066'><b>OTO NM</b></font><br>
<p />
<img width='326' src='01001c.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001c.bin.png>01001c.bin.png</a></font><p />
<hr>
<font color='#000066'><b>T</b></font><br>
<p />
<img width='226' src='01001d.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001d.bin.png>01001d.bin.png</a></font><p />
<hr>
<font color='#000066'><b>ROSEMOUNT</b></font><br>
<p />
<img width='333' src='01001e.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001e.bin.png>01001e.bin.png</a></font><p />
<hr>
<font color='#000066'><b>753-6014-1000/AE CHANHASSEN, MINNESOTA, USA</b></font><br>
<p />
<img width='666' src='01001f.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/01001f.bin.png>01001f.bin.png</a></font><p />
<hr>
<font color='#000066'><b></b></font><br>
<p />
<img width='120' src='010020.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010020.bin.png>010020.bin.png</a></font><p />
<hr>
<font color='#000066'><b>M</b></font><br>
<p />
<img width='103' src='010021.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010021.bin.png>010021.bin.png</a></font><p />
<hr>
<font color='#000066'><b>0</b></font><br>
<p />
<img width='123' src='010022.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010022.bin.png>010022.bin.png</a></font><p />
<hr>
<font color='#000066'><b></b></font><br>
<p />
<img width='179' src='010023.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010023.bin.png>010023.bin.png</a></font><p />
<hr>
<font color='#000066'><b>-.</b></font><br>
<p />
<img width='72' src='010024.bin.png'>
<br />
<font size=-2><a href=temp>temp</a> / <a href=temp/0001>0001</a> / <a href=temp/0001/010024.bin.png>010024.bin.png</a></font><p />
<hr>
